img{
	width: 100%;
}
#mlist dl{
	margin: 0;
}
#mList dt{
	text-align: center;
	font-size: 1.1em;
	margin: 5px;
}
#mList dd{
	margin: 0;
}
#dList{
	width: 90;
	margin: 10px auto;
}
#footer{
	position: absolute;
	bottom:0;
	width:100%;
}